# Python core concepts 

##This is for basic understanding of Datatypes, Data structures, control flows and iterations available in Python.

# 1.Numbers

In [1]:
1+1

2

In [2]:
1*2

2

In [3]:
3+5*4+5

28

In [4]:
(3+5)*(4+5)

72

In [7]:
5%2

1

In [12]:
5/2

2.5

In [13]:
4/2

2.0

# 2.Variable assignment

In [8]:
x=10
y=20

In [9]:
x

10

In [10]:
print(x)

10

In [11]:
(x*y)+(y/x)

202.0

# 3.Strings

In [16]:
s1 = 'Single Quotes string'
print(s1)

Single Quotes string

In [17]:
s2 = "Doube quotes String"
print(s2)

Doube quotes String

In [18]:
s3 = "Triple Quotes String"
print(s3)

Triple Quotes String

# 4. Printing formats

In [19]:
name="surendra"
place="India"

In [23]:
print("Hey My name is {}, I'm from {}".format(name,place))

Hey My name is surendra, I'm from India

# 5.Lists

In [1]:
#List is collection of elements
l1 =[1,4,5,2,5,4,6,7,8,'Hello',10.5,[1,2,3,4,5]]

In [2]:
l1

[1, 4, 5, 2, 5, 4, 6, 7, 8, 'Hello', 10.5, [1, 2, 3, 4, 5]]

In [3]:
#type of list
type([1,2,3,4,4])

list

In [4]:
l1 = [1,2,3,4,5,6]

In [5]:
#adding new element
l1.append(7)

In [9]:
#printing list
l1
print(l1)

[1, 2, 3, 4, 5, 6, 7]

In [10]:
#indexing the values inside list
l1[3]

4

In [13]:
#slicing the list with range 
#print all elements
l1[:]

[1, 2, 3, 4, 5, 6, 7]

In [15]:
#print first n elemetns--0 to 5the index(exclusive)
l1 = [0,1,2,3,4,5,6,7,8,9]
l1[:5]

[0, 1, 2, 3, 4]

In [18]:
#print some point of list to end
l1[4:]

[4, 5, 6, 7, 8, 9]

In [20]:
#print last index value, first index value
print(l1[-1])
print(l1[0])

9
0

In [21]:
#assign new value in some index
l1[4] = 44444
print(l1)

[0, 1, 2, 3, 44444, 5, 6, 7, 8, 9]

In [27]:
#nesting of a list
l2=[0,1,2,3,4,[50,51,52,["530",531,532.0]]]
print(l2[0])
print(l2[5])
print(l2[5][1])
print(l2[5][3])
print(l2[5][3][0])
print(l2[5][3][0][0])

0
[50, 51, 52, ['530', 531, 532.0]]
51
['530', 531, 532.0]
530
5

# 6. Dictionaries

In [29]:
#collection of key-value paired values
d={'key0':000, 'key1':111, 'key2':222, 'key3':333}

In [32]:
#print only keys and only values
print(d.keys())
print(d.values())

dict_keys(['key0', 'key1', 'key2', 'key3'])
dict_values([0, 111, 222, 333])

In [35]:
#list any random value with given key
print(d['key2'])

222

# 7.Boolean

In [36]:
True

True

In [37]:
False

False

In [43]:
print(1>2)
print(3>1)
print(False != False)
print(True == True)

False
True
False
True