# Python core concepts 

##This is for basic understanding of Datatypes, Data structures, control flows and iterations available in Python.

# 1.Numbers

In [1]:
1+1

2

In [2]:
1*2

2

In [3]:
3+5*4+5

28

In [4]:
(3+5)*(4+5)

72

In [7]:
5%2

1

In [12]:
5/2

2.5

In [13]:
4/2

2.0

# 2.Variable assignment

In [8]:
x=10
y=20

In [9]:
x

10

In [10]:
print(x)

10

In [11]:
(x*y)+(y/x)

202.0

# 3.Strings

In [16]:
s1 = 'Single Quotes string'
print(s1)

Single Quotes string

In [17]:
s2 = "Doube quotes String"
print(s2)

Doube quotes String

In [18]:
s3 = "Triple Quotes String"
print(s3)

Triple Quotes String

# 4. Printing formats

In [19]:
name="surendra"
place="India"

In [23]:
print("Hey My name is {}, I'm from {}".format(name,place))

Hey My name is surendra, I'm from India

# 5.Lists

In [1]:
#List is collection of elements
l1 =[1,4,5,2,5,4,6,7,8,'Hello',10.5,[1,2,3,4,5]]

In [2]:
l1

[1, 4, 5, 2, 5, 4, 6, 7, 8, 'Hello', 10.5, [1, 2, 3, 4, 5]]

In [3]:
#type of list
type([1,2,3,4,4])

list

In [4]:
l1 = [1,2,3,4,5,6]

In [5]:
#adding new element
l1.append(7)

In [9]:
#printing list
l1
print(l1)

[1, 2, 3, 4, 5, 6, 7]

In [10]:
#indexing the values inside list
l1[3]

4

In [13]:
#slicing the list with range 
#print all elements
l1[:]

[1, 2, 3, 4, 5, 6, 7]

In [15]:
#print first n elemetns--0 to 5the index(exclusive)
l1 = [0,1,2,3,4,5,6,7,8,9]
l1[:5]

[0, 1, 2, 3, 4]

In [18]:
#print some point of list to end
l1[4:]

[4, 5, 6, 7, 8, 9]

In [20]:
#print last index value, first index value
print(l1[-1])
print(l1[0])

9
0

In [21]:
#assign new value in some index
l1[4] = 44444
print(l1)

[0, 1, 2, 3, 44444, 5, 6, 7, 8, 9]

In [27]:
#nesting of a list
l2=[0,1,2,3,4,[50,51,52,["530",531,532.0]]]
print(l2[0])
print(l2[5])
print(l2[5][1])
print(l2[5][3])
print(l2[5][3][0])
print(l2[5][3][0][0])

0
[50, 51, 52, ['530', 531, 532.0]]
51
['530', 531, 532.0]
530
5

# 6. Dictionaries

In [29]:
#collection of key-value paired values
d={'key0':000, 'key1':111, 'key2':222, 'key3':333}

In [32]:
#print only keys and only values
print(d.keys())
print(d.values())

dict_keys(['key0', 'key1', 'key2', 'key3'])
dict_values([0, 111, 222, 333])

In [35]:
#list any random value with given key
print(d['key2'])

222

# 7.Boolean

In [36]:
#Boolean values are either True or False
True

True

In [37]:
False

False

In [43]:
print(1>2)
print(3>1)
print(False != False)
print(True == True)

False
True
False
True

# 8.Tuples

In [44]:
#Tuples are not mutable and stores series of elemetns just like lists but cannot modified or deleted any values inside
t1 = (1,2,3,4,2,3,4,5,6,9)

In [45]:
t1

(1, 2, 3, 4, 2, 3, 4, 5, 6, 9)

In [46]:
#throws error due to modification
t1[0]="ABCDEF"

TypeError: 'tuple' object does not support item assignment

 # 9.Sets

In [47]:
#Sets are non dupliactes and unordered.
s1={1,2,3,7,8,9,3,2,1,4,5,7,8,9}

In [48]:
s1

{1, 2, 3, 4, 5, 7, 8, 9}

In [50]:
#adding new elemetn
s1.add(99999)
print(s1)

{1, 2, 3, 4, 5, 7, 8, 9, 99999}

# 10.Comparision operator

In [51]:
10>1

True

In [52]:
2<1

False

In [53]:
"Hello" == "hello"

False

In [54]:
"A"=="A"

True

In [55]:
10<=20

True

# 11. Logical Operators

In [58]:
print(True and False)
print(True and True)

False
True

In [59]:
(10>2) or (20<5)

True

# 12. If elif else statements

In [64]:
#These are contorol flow statements
x=40
if(x<5):
    print("if executed")
elif((x>10) and (x<20)):
    print("10 to 20")
elif((x>20) and (x<30)):
    print("20 to 30")
else:
    print(x," is Graterthan 30")

40  is Graterthan 30

# 13. For Loops

In [65]:
#iterate a statement for n number of times
l1 = [111,222,333,444,555]
for val in l1:
    print(val)

111
222
333
444
555

In [ ]:
# square a number for some list of elements with range method
l2=range(0,5)
for x in l2:
    print(x**2)

# 14. While loops

In [70]:
#use while loop to print cube values for numbers
x=1
while(x<5):
    print(x**3)
    x=x+1

1
8
27
64

# 15.Range function

In [72]:
#range will give 0 to 10 without second paramenter
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [73]:
#range will give x to y with 2 paraments
print(list(range(4,20)))

[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [76]:
#range will give x to y with z as a step or interval
print(list(range(4,20,3)))

[4, 7, 10, 13, 16, 19]

# 16.List comprehension

In [77]:
#its a shortend for writing multiple lines of code with for loop

#below with for loop taking more steps to do 
l1=[1,2,3,4]
l2=[]
for val in l1:
    l2.append(val**3)

print(l2)

[1, 8, 27, 64]

In [78]:
#with list comprehension we can more space, time
[val**3 for val in l1]

[1, 8, 27, 64]

# 17.Functions

In [80]:
# functions start with def word
def check_even(val):
    """
    Docstring for check_even function
    ##This function will check the given number whether it is even or odd##
    ##If we type function name and shift+tab this will apper in Notebook with clue ##
    """
    if val%2==0:
        print(val, " is Even number")
    else:
        print(val, " is odd number")
        
        
        
#checking given function        
check_even(28989)

28989  is odd number

In [84]:
#apply above function for a list
l1=range(10)
for val in l1:
    check_even(val)

0  is Even number
1  is odd number
2  is Even number
3  is odd number
4  is Even number
5  is odd number
6  is Even number
7  is odd number
8  is Even number
9  is odd number

# 18.Lambda Expressions

In [90]:
#Lambda expressions are short form of a function with less number of scripts

#This is normal function
def do_square(x):
    print("Square of ",x,"= ",x**2)
    
do_square(10)

Square of  10 =  100

In [97]:
#with lambda function, it wont take much script to write above function
square_val = lambda x:x**2
print(square_val(200))

40000

# 19.Maps and filters

In [100]:
#Map function execute the specific function in the iteration. Its just like clubbing a function with some list of elements 

#square function
def do_square(x):
    return x**2

#list 
l1=range(5)

#Now apply a function to the list using Map()
map_values = list(map(do_square,l1))
map_values

[0, 1, 4, 9, 16]

In [101]:
#Filter function used for applying some filters on top of list
#list1
l1=range(20)

#some function
lam_fun = lambda x: x%2==0

#now apply filter function
list(filter(lam_fun, l1))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

# 20. Methods

In [107]:
#Methods for strings
s1 = "Hello World, this, is, Python Programming!!"

#convert s1 string into upper case
print(s1.upper())

#convert s1 string into lower case
print(s1.lower())

#split method is used for extracting words from a sentance with given delimeter. Bydefault it is space
print(s1.split())
print(s1.split(","))

HELLO WORLD, THIS, IS, PYTHON PROGRAMMING!!
hello world, this, is, python programming!!
['Hello', 'World,', 'this,', 'is,', 'Python', 'Programming!!']
['Hello World', ' this', ' is', ' Python Programming!!']

# 21. In keyword

In [108]:
10 in range(5,15)

True

In [109]:
'a' in ['b','c','d']

False