# Recommender_Systems_MovieRecommendations

* Recommender systems are an important class of machine learning algorithms that offer "relevant" suggestions to users. 
* Categorized as either collaborative(Based on users history) filtering or a content-based system.

#### Import libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('white')
%matplotlib inline

#### Read the data

In [5]:
#User's data

column_names = ['user_id', 'item_id', 'rating', 'timestamp']
df = pd.read_csv('Input_Data/u.data', sep='\t', names=column_names)

df.head()

   user_id  item_id  rating  timestamp
0        0       50       5  881250949
1        0      172       5  881250949
2        0      133       1  881250949
3      196      242       3  881250949
4      186      302       3  891717742

In [6]:
#Movies data

movie_titles = pd.read_csv("Input_Data/Movie_Id_Titles")
movie_titles.head()

   item_id              title
0        1   Toy Story (1995)
1        2   GoldenEye (1995)
2        3  Four Rooms (1995)
3        4  Get Shorty (1995)
4        5     Copycat (1995)

In [ ]:
#